body {
  background: #333;
  color: white;
}

header {
  background: white;
  color: #333;
  width: 100px;

  /* long way of writing out margin properties*/

  /* margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px; */

  /* ^^long way of writing out margin properties*/

  /* short hand way of writing margins also cleaner code*/

  margin: 100px;

  /*^^^^^^ short hand way of writing margins also cleaner code*/
}

main {
  background: lightblue;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  color: #333;
  width: 250px;
  /* height: 400px;  AVOID SETTING HEIGHT sometimes this will cause text to overflow*/
  color: aquamarine;
}
